<!doctype html>
{% extends "base.html" %}


{% block context %}

<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-4 text-lg">About us</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="/about" class="text-white-50">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg col-md">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<h3 class="text-color">What is StreamBooster ?</h3>
					<h2 class="mt-3 mb-4 position-relative content-title">Sublimator of movie experience</h2>
					<h3 class="mb-5"><u>Having a good movie experience is not just about watching a movie.</u><br><br>
							• Watch the trailer<br><br>
							• See the rating<br><br>
							• Listen to soundtracks<br><br>
							• Watch movie reviews<br><br>
					</h3>
	
					<a href="/signup" class="btn btn-main btn-round-full padding-up-down">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About End -->

<!--  Section Team Start -->
<section class="section team light-background">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Team</span>
					<h2 class="mt-3 content-title dark-text">Expert Team member to get best service</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="images/team/team-1.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize text-color">David Tang</h4>
						<p class="dark-text">API engineer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="images/team/team-2.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize text-color">Jason Chang</h4>
						<p class="dark-text">API engineer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 ">
					<div class="team-item position-relative">
						<img src="images/team/team-3.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize text-color">Eric Liao</h4>
						<p class="dark-text">Frontend engineer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="images/team/team-4.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize text-color">Lance Wang</h4>
						<p class="dark-text">Backend engineer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="images/team/team-6.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize text-color">Max Huang</h4>
						<p class="dark-text">Backend engineer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6"></div>

		</div>
	</div>
</section>
<!--  Section Team End -->
    
{% endblock %}
