<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="streambooster.com">

  <title>StreamBooster</title>
  <link rel="icon" href="{{ url_for('static', filename='images/icon/movie.ico') }}">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/themify/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/dist/magnific-popup.css') }}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick-theme.css') }}">

<!-- Boostrap 導入程式 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


<!-- Header Start --> 

	<header class="navigation">
		<!-- <div class="header-top ">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg col-md">
						<div class="header-top-socials text-center text-lg-left text-md-left">
							<a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a>
							<a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter"></i></a>
							<a href="https://github.com/themefisher/" target="_blank"><i class="ti-github"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<nav class="navbar navbar-expand-lg  py-4" id="navbar">
			<div class="container">
			  <a class="navbar-brand" href="/">
			  	Stream<span>Booster.</span>
			  </a>

			  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			  </button>
		  
			  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/about" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown03">
							<li><a class="dropdown-item" href="/about" id="lower-text">What is StreamBooster?</a></li>
							<li><a class="dropdown-item" href="/price">Pricing</a></li>
						</ul>
				  </li>
				  
				   
				   
				   <li class="nav-item"><a class="nav-link" href="/web">Search</a></li>
				   <!-- <li class="nav-item"><a class="nav-link" href="/service">Services</a></li> -->
				   
				   <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
				   <li class="nav-item"><a class="nav-link">{{ username }}</a></li>
				</ul>

				<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
				  {% if current_user.is_authenticated %}
				  <a href="/logout" class="btn btn-solid-border btn-round-full">Logout</a>
				  {% else %}
				  <a href="/login" class="btn btn-solid-border btn-round-full">Login</a>
				  {% endif %}
				</form>
			  </div>
			</div>
		</nav>
	</header>
	
	<div class="main-wrapper "></div>
		{% block context %}{% endblock %}
		<footer class="footer section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="widget">
							<h4 class="text-capitalize mb-4 light-text">Company</h4>

							<ul class="list-unstyled footer-menu lh-35">
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="widget">
							<h4 class="text-capitalize mb-4 light-text">Quick Links</h4>

							<ul class="list-unstyled footer-menu lh-35">
								<li><a href="/about">About</a></li>
								<li><a href="/service">Services</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="widget">
							<h4 class="text-capitalize mb-4 light-text">Subscribe Us</h4>
							<p>Subscribe to get latest news article and resources  </p>

							<form action="#" class="sub-form">
								<input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
								<a href="#" class="btn btn-main btn-small">subscribe</a>
							</form>
						</div>
					</div>

					<div class="col-lg-3 ml-auto col-sm-6">
						<div class="widget">
							<div class="logo mb-4">
								<h3>Stream<span>Booster.</span></h3>
							</div>
							<h6><a href="tel:+12-345-6789" >Support@streambooster.com</a></h6>
							<a href="mailto:support@gmail.com"><span class="text-color h4">+12-345-6789</span></a>
						</div>
					</div>
				</div>
				
				<div class="footer-btm pt-4">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright light-text">
								&copy; Copyright Reserved to <span class="text-color">Streambooster.</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
							</div>
						</div>
						<div class="col-lg-6 text-left text-lg-right">
							<ul class="list-inline footer-socials">
								<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2"></i>Facebook</a></li>
								<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2"></i>Twitter</a></li>
								<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

	<!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>

</body>
</html>
   
