<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="streambooster.com">

  <title>StreamBooster</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Boostrap 導入程式 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>


<!-- Header Start --> 

<header class="navigation">
	<!-- <div class="header-top ">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg col-md">
					<div class="header-top-socials text-center text-lg-left text-md-left">
						<a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a>
						<a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter"></i></a>
						<a href="https://github.com/themefisher/" target="_blank"><i class="ti-github"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<nav class="navbar navbar-expand-lg  py-4" id="navbar">
		<div class="container">
		  <a class="navbar-brand" href="main.html">
		  	Stream<span>Booster.</span>
		  </a>

		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="main.html">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="about.html" id="lower-text">What is StreamBooster?</a></li>
						<li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
					</ul>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>
			   <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>

			<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
			  <a href="login.html" class="btn btn-solid-border btn-round-full">Login</a>
			</form>
		  </div>
		</div>
	</nav>
</header>

<!-- Header Close --> 
<div class="search-bar">
	<nav class="navbar navbar-light bg-dark" id="search-bar">
		<div class="container-fluid">
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search for film" aria-label="Search">
			<button class="btn btn-outline-success btn-round-full btn-small colored-border" type="submit">Search</button>
		</form>
		</div>
	</nav>
</div>

<div class="main-wrapper">
<!-- Slider Start -->
	<section class="clean-bg">
		<!-- button link to information-->
		<div class="container">
			<div class="row">
				<h2 class="light-text">Recommended for you.</h2>
			</div>
		</div>
		<div class="container">
			<hr class="light-text style-four">
		</div>


		{% for row in range(2) %}
		<div class="container">
			{% for i in range(4) %}
			<div class="item">
				<img src= {{ info[i]['poster'] }}>
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal{{ i+4*row }}">
					<h3>{{ info[i]['title'] }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		
		<!-- pop-up information -->
		{% for i in range(8) %}
		<div class="modal fade" id="filmModal{{ i }}">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<!-- header -->
					<div class="modal-header">
						<h2>{{ info[i]['title'] }}</h2>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
					</div>
					<!-- body -->
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row padding-up-down">
								<div class="col-md">
									<h3>Introduction</h3>
									<p>{{ info[i]['intro'] }}</p>
								</div>
								<div class="col-md ms-auto">
									<h3>Trailer</h3>
									<iframe width="400" height="315" src={{ info[i]['trailer'][0] }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<h3>Director</h3>
									<p>{{ info[i]['director'] }}</p>
									<h3>Cast</h3>
									<p>{{ info[i]['cast'] }}</p>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-5">
									<h3>Score</h3>
									<p>{{ info[i]['tmdb_score'] }}</p>
								</div>
								<div class="block"></div>
							</div>
							<hr>
							<div class="row padding-up-down">
								<h3>Other Trailers</h3>
								{% for n in range(1, 7) %}
								<div class="col-md padding-up-down">
									<iframe src={{ info[i]['trailer'][n] }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								{% endfor %}
							<hr>
							<div class="row">
								<h3>Related Works</h3>
								{% for n in range(5) %}
								<div class="col-md text-center padding-up-down">
									<img src={{ info[i]['related_img'][n] }} alt="">
									<a href={{ info[i]['related_ref'][n] }}>{{ info[i]['related-title'][n] }}</a>
								</div>
								{% endfor %}
							</div>
							<hr>
							<div class="row">
								<h3>Soundtracks</h3>
								{% if info[i]['album_title'] is None %}
									<div class="row padding-up-down">
										<div class="col-md-2">
											<img src="https://river-coins.news/wp-content/plugins/radio-heart/includes//img/noalbum.jpg" alt="">
										</div>
										<div class="col-md-4">
											<a href="#">No Album Exist</a>
										</div>
									</div>
								{% else %}
									{% for row in range(5) %}
									<div class="row padding-up-down">
										{% for col in range(2) %}
										<div class="col-md-2">
											<img src={{ info[i]['album_img'][row+col] }} alt="">
										</div>
										<div class="col-md-4">
											<a href={{ info[i]['album_ref'][row+col] }}>{{ info[i]['album_title'][row+col] }}</a>
										</div>
										{% endfor %}
									</div>
									{% endfor %}
								{% endif %}
							</div>
							<hr>
							<div class="row padding-up-down">
								<h3>Reviews</h3>
								{% for n in range(6) %}
								<div class="col-md padding-up-down">
									<iframe src={{ info[i]['review'][n] }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								{% endfor %}
							</div>
						</div>

					</div>
					<!-- footer -->
					<div class="modal-footer">

					</div>
				</div>
			</div>
		</div>
		{% endfor %}

	</section>
</div>

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>

  </body>
  </html>
   