<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 

<section class="page-title bg-1">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
		<div class="block text-center">
			<h1 class="text-capitalize mb-4 text-lg">Login</h1>
			<ul class="list-inline">
			<li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
			<li class="list-inline-item"><span class="text-white">/</span></li>
			<li class="list-inline-item"><a href="#" class="text-white-50">login</a></li>
			</ul>
		</div>
		</div>
	</div>
	</div>
</section>

<!-- contact form start -->
<section class="contact-form-wrap section">
    <div class="container">
        <div class="col" id="login-bg">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<form id="contact-form" class="contact__form" method="post">
				<!-- form message -->
					<!-- <div class="row">
					   <div class="col-12">
						   <div class="alert alert-success contact__msg" style="display: none" role="alert">
							   Your message was sent successfully.
						   </div>
					   </div>
				   </div>  -->
				   <!-- end message -->
				   <h3 class="text-md mb-4" id="light-text">Login</h3>
				   <div class="form-group">
					   <input name="email" type="email" class="form-control" placeholder="Email Address">
				   </div>
				   <div class="form-group">
					   <input name="password" type="password" class="form-control" placeholder="Password">
				   </div>
				   <button class="btn btn-main" name="submit" type="submit">Login</button>
			   </form>
		   </div>

        </div>
    </div>
</section>

{% endblock %}
