<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 

<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
					<h1 class="animated fadeInUp mb-5">Boost your movie<br>experience.</h1>
					<a href="/signup" class="btn btn-main animated fadeInUp btn-round-full" >Start free trial<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
   
