<!doctype html>
{% extends "base.html" %}


{% block context %}

<section class="page-title bg-1">
	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<div class="block text-center">
			<span class="text-white">Our pricing</span>
			<h1 class="text-capitalize mb-4 text-lg">Pricing Package</h1>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
				<li class="list-inline-item"><span class="text-white">/</span></li>
				<li class="list-inline-item"><a href="/price" class="text-white-50">Our pricing</a></li>
			</ul>
			</div>
		</div>
		</div>
	</div>
	</section>

	<!-- Section Intro END -->
	<!-- Section Pricing Start -->

	<section class="section pricing bg-gray position-relative">
		<div class="hero-img bg-overlay h70"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<div class="section-title">
						<span class="h6 text-white">Our Pricing</span>
						<h2 class="mt-3 content-title text-white">No hidden Charges.<br>Choose Your Perfect Plan</h2>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card text-center mb-md-0 mb-3">
						<div class="card-body py-5">
							<div class="pricing-header mb-5">
								<h5 class="font-weight-normal mb-3">Basic</h5>
								<h2>$0 / $0</h2>
								<p class="text-muted">Price per month / year</p>
							</div>
							<strong>Includes:</strong>
							<ul class="list-unstyled lh-45 mt-3 text-black">
								<li>- 10 searches per day</li>
								<li>- With-ad</li>
							</ul>
							<a href="/signup" class="btn btn-small btn-solid-border mt-3 btn-round-full">Register Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center mb-md-0 mb-3">
						<div class="card-body py-5">
							<div class="pricing-header mb-5">
								<h5 class="font-weight-normal mb-3">Pro</h5>
								<h2>$0.99 / $9.99</h2>
								<p class="text-muted">Price per month / year</p>
							</div>
							<strong>Includes:</strong>
							<ul class="list-unstyled lh-45 mt-3 text-black">
								<li>- Ads-free</li>
								<li>- Unlimited search</li>
							</ul>
							<a href="/price" class="btn btn-small btn-main mt-3 btn-round-full">Upgrade Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center mb-md-0 mb-3">
						<div class="card-body py-5">
							<div class="pricing-header mb-5">
								<h5 class="font-weight-normal mb-3">Premium</h5>
								<h2>$1.99 / $19.99</h2>
								<p class="text-muted">Price per month / year</p>
							</div>
							<strong>Includes:</strong>
							<ul class="list-unstyled lh-45 mt-3 text-black">
								<li>- Ads-free</li>
								<li>- Unlimited search</li>
								<li>- Personal recommendation</li>
							</ul>
							<a href="/price" class="btn btn-small btn-main mt-3 btn-round-full">Upgrade Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

	<!-- Section Pricing End -->
	
{% endblock %}
