<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 
<div class="search-bar">
	<nav class="navbar navbar-light bg-dark" id="search-bar">
		<div class="container-fluid">
			<form class="d-flex" method="post" id="search-form">
				<input class="form-control me-2" name="search" type="search" placeholder="Search for film" aria-label="Search">
				<!-- <button class="btn btn-main animated fadeInUp btn-round-full" type="submit">Search</button> -->
				<a href="#" class="btn btn-small animated fadeInUp btn-round-full" onclick="document.getElementById('search-form').submit()">Search</a>
			</form>
		</div>
	</nav>
</div>

<!-- Slider Start -->
<section class="clean-bg">
	<!-- button link to information-->
	<div class="container">
		<div class="row">
			<h1 class="light-text">Searching Result.</h1>
		</div>
	</div>
	<div class="container">
		<hr class="light-text style-four">
	</div>
	
	{% set info_len = info|length %}
	{% if info_len == 0 %}
		<div class="container">
			<h3 class="light-text">No search result.</h3>
		</div>
	{% else %}
		{% for row in range( info_len//4 + (info_len%4 > 0)) %}
		<div class="container">
			{% for i in range(4) %}
				{% if i+4*row < info|length %}
				<div class="item">
					<img src= {{ info[i+4*row]['poster'] }}>
					<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal{{ i+4*row }}">
						<h3>{{ info[i+4*row]['title'] }}</h3>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	{% endif %}
	
	<!-- pop-up information -->
	{% for i in range(info_len) %}
	<div class="modal fade" id="filmModal{{ i }}">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- header -->
				<div class="modal-header">
					<h2>{{ info[i]['title'] }}</h2> 
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
				</div>
				<!-- body -->
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row padding-up-down">
							<div class="col-md-5">
								<h3>Introduction</h3>
								<p>{{ info[i]['intro'] }}</p>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-5">
								<h3>Trailer</h3>
								<iframe width="400" height="315" src={{ info[i]['trailer'][0] }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<h3>Director</h3>
								{% if info[i]['director'] is none %}
									<p>No director qq.</p>
								{% else %}
									<p>{{ info[i]['director'] }}</p>
								{% endif %}
								<h3>Cast</h3>
								{% if info[i]['cast'] is none %}
									<p>No cast qq.</p>
								{% else %}
									<p>{{ info[i]['cast'] }}</p>
								{% endif %}
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-5">
								<h3>Score</h3>
								<div class="row">
									<div class="col-md-2">
										<img class="icon-big" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="">
									</div>
									<div class="col-md-10">
										{% if info[i]['tmdb_score'] is none %}
											<p>No tmdb score qq.</p>
										{% else %}
											<p>{{ info[i]['tmdb_score'] }}</p>
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-md-2">
										<img class="icon" src="https://cdn-icons-png.flaticon.com/512/1388/1388946.png" alt="">
									</div>
									<div class="col-md-10">
										{% if info[i]['retweet'] is none %}
											<p>No retweet qq.</p>
										{% else %}
											<p>{{ info[i]['retweet'] }}</p>
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-md-2">
										<img class="icon" src="https://cdn-icons-png.flaticon.com/512/875/875267.png" alt="">
									</div>
									<div class="col-md-10">
										{% if info[i]['favorite'] is none %}
											<p>No twitter favorite qq.</p>
										{% else %}
											<p>{{ info[i]['favorite'] }}</p>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="block"></div>
						</div>
						<hr>
						<div class="row padding-up-down">
							<h3>Other Trailers</h3>
							{% if info[i]['trailer'] is none %}
								<p>No other trailers.</p>
							{% else %}
								{% for n in range(1, info[i]['trailer']|length ) %}
								<div class="col-md padding-up-down">
									<iframe src={{ info[i]['trailer'][n] }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								{% endfor %}
							{% endif %}
						</div>
						<hr>
						<div class="row">
							<h3>Related Works</h3>
							{% if info[i]['related_title'] is none %}
								<p>No related result.</p>
							{% else %}
								{% for n in range( info[i]['related_title']|length ) %}
								<div class="col-md text-center padding-up-down">
									<img src={{ info[i]['related_img'][n] }} alt="">
									<a target="_blank" href={{ info[i]['related_ref'][n] }}>{{ info[i]['related_title'][n] }}</a>
								</div>
								{% endfor %}
							{% endif %}
						</div>
						<hr>
						<div class="row">
							<h3>Soundtracks</h3>
							{% if info[i]['album_title'] is none %}
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img class="width-align" src="https://river-coins.news/wp-content/plugins/radio-heart/includes//img/noalbum.jpg" alt="">
									</div>
									<div class="col-md-4">
										<p>No Album Exist</p>
									</div>
								</div>
							{% else %}
								{% for row in range( info[i]['album_title']|length//2 ) %}
								<div class="row padding-up-down">
									{% for col in range(2) %}
										{% if row+col < info[i]['album_title']|length %}
										<div class="col-md-2">
											<img class="width-align" src={{ info[i]['album_img'][row+col] }} alt="">
										</div>
										<div class="col-md-4">
											<a target="_blank" href={{ info[i]['album_ref'][row+col] }}>{{ info[i]['album_title'][row+col] }}</a>
										</div>
										{% endif %}
									{% endfor %}
								</div>
								{% endfor %}
							{% endif %}
						</div>
						<hr>
						<div class="row padding-up-down">
							<h3>Reviews</h3>
							{% if info[i]['review'] is none %}
								<p>No reviews.</p>
							{% else %}
								{% for review in info[i]['review'] %}
								<div class="col-md padding-up-down">
									<iframe src={{ review }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>

				</div>
				<!-- footer -->
				<div class="modal-footer"></div>

			</div>
		</div>
	</div>
	{% endfor %}

</section>


  
  
{% endblock %}
