<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 
<div class="search-bar">
	<nav class="navbar navbar-light bg-dark" id="search-bar">
		<div class="container-fluid">
		<form class="d-flex" method="post">
			<input class="form-control me-2" name="search" type="search" placeholder="Search for film" aria-label="Search">
			<button class="btn btn-outline-success btn-round-full btn-small colored-border" type="submit">Search</button>
		</form>
		</div>
	</nav>
</div>

<div class="main-wrapper">
<!-- Slider Start -->
	<section class="clean-bg">
		<!-- button link to information-->
		<div class="container">
			<div class="row">
				<h2 class="light-text">Recommended for you.</h2>
			</div>
		</div>
		<div class="container">
			<hr class="light-text style-four">
		</div>
		
		
		{% for row in range(2) %}
		<div class="container">
			{% for i in range(4) %}
			<div class="item">
				<img src= {{ info[i+4*row]['poster'] }}>
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal{{ "%s"|format(i+4*row) }}">
					<h3>{{ info[i+4*row]['title'] }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		
		{% for i in range(8)%}
		<!-- pop-up information -->
		<div class="modal fade" id="filmModal{{ i }}">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<!-- header -->
					<h2>{{ i }}</h2>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</section>
</div>


  
  
{% endblock %}
