<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 
<div class="search-bar">
	<nav class="navbar navbar-light bg-dark" id="search-bar">
		<div class="container-fluid">
		<form class="d-flex" method="post">
			<input class="form-control me-2" name="search" type="search" placeholder="Search for film" aria-label="Search">
			<button class="btn btn-outline-success btn-round-full btn-small colored-border" type="submit">Search</button>
		</form>
		</div>
	</nav>
</div>

<div class="main-wrapper">
<!-- Slider Start -->
	<section class="clean-bg">
		<!-- button link to information-->
		<div class="container">
			<div class="row">
				<h2 class="light-text">Recommended for you.</h2>
			</div>
		</div>
		<div class="container">
			<hr class="light-text style-four">
		</div>
		<div class="container">
			<div class="item">
				<img src={{ poster_0 }}>
				<button class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>{{ title_0 }}</h3>
				</button>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/bg/counter.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
			<div class="item">
				<img src="images/temp/rudy.jpg">
				<div class="txt" data-bs-toggle="modal" data-bs-target="#filmModal">
					<h3>無職轉生</h3>
					<p>我是魯迪</p>
				</div>
			</div>
		</div>
		
		<!-- pop-up information -->
		<div class="modal fade" id="filmModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<!-- header -->
					<div class="modal-header">
						<h2>Name of Film</h2>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
					</div>
					<!-- body -->
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row padding-up-down">
								<div class="col-md">
									<h3>Introduction</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur illo iure eveniet distinctio corrupti quisquam rem autem deleniti, necessitatibus hic nulla atque quaerat. Reiciendis veritatis expedita earum maiores ea odit!</p>
								</div>
								<div class="col-md ms-auto">
									<h3>Trailer</h3>
									<iframe width="400" height="315" src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<h3>Casting</h3>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sunt corrupti dicta, at odit fuga a repellendus, tenetur illo aliquid quam itaque atque maxime nemo odio in vero, nisi blanditiis.</p>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-5">
									<h3>Score</h3>
									<p>7.5</p>
								</div>
								<div class="block"></div>
							</div>
							<hr>
							<div class="row padding-up-down">
								<h3>Other Trailers</h3>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/uAQFxn2Ss84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							<hr>
							<div class="row">
								<h3>Related Works</h3>
								<div class="col-md text-center padding-up-down">
									<img src="https://picsum.photos/id/15/100/100" alt="">
									<a href="https://www.google.com">Film1</a>
								</div>
								<div class="col-md text-center padding-up-down">
									<img src="https://picsum.photos/id/27/100/100" alt="">
									<a href="https://www.google.com">Film2</a>
								</div>
								<div class="col-md text-center padding-up-down">
									<img src="https://picsum.photos/id/345/100/100" alt="">
									<a href="https://www.google.com">Film3</a>
								</div>
								<div class="col-md text-center padding-up-down">
									<img src="https://picsum.photos/id/47/100/100" alt="">
									<a href="https://www.google.com">Film4</a>
								</div>
								<div class="col-md text-center padding-up-down">
									<img src="https://picsum.photos/id/56/100/100" alt="">
									<a href="https://www.google.com">Film5</a>
								</div>
							</div>
							<hr>
							<div class="row">
								<h3>Soundtracks</h3>
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img src="https://picsum.photos/id/456/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
										<!-- <input type="image" href="#" src="images/logo/listen-on-spotify.png"></a> -->
									</div>
									<div class="col-md-2">
										<img src="https://picsum.photos/id/684/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
								</div>
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img src="https://picsum.photos/id/456/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
									<div class="col-md-2">
										<img src="https://picsum.photos/id/684/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
								</div>
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img src="https://picsum.photos/id/456/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
									<div class="col-md-2">
										<img src="https://picsum.photos/id/684/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
								</div>
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img src="https://picsum.photos/id/456/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
									<div class="col-md-2">
										<img src="https://picsum.photos/id/684/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
								</div>
								<div class="row padding-up-down">
									<div class="col-md-2">
										<img src="https://picsum.photos/id/456/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
									<div class="col-md-2">
										<img src="https://picsum.photos/id/684/100/100" alt="">
									</div>
									<div class="col-md-4">
										<p>Album Name</p>
									</div>
								</div>
							<hr>
							<div class="row padding-up-down">
								<h3>Reviews</h3>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/uAQFxn2Ss84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-md padding-up-down">
									<iframe src="https://www.youtube.com/embed/q15CRdE5Bv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>

					</div>
					<!-- footer -->
					<div class="modal-footer">

					</div>
				</div>
			</div>
		</div>

	</section>
</div>


  
  
{% endblock %}
