<!doctype html>
{% extends "base.html" %}


{% block context %}

<!-- Header Close --> 

<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Sign-up</span>
          <h1 class="text-capitalize mb-4 text-lg">Start free trial</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="/signup" class="text-white-50">Sign-up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <form method="post" action="/signup" >
                 <!-- form message -->
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div> -->
                    <!-- end message -->
                    <span class="text-color">Fill in your information</span>
                    <h3 class="text-md mb-4" id="light-text">Sign-up Form</h3>
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input name="first-name" type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input name="last-name" type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="E-mail">
                    </div>
                    
                    <button class="btn btn-main" name="submit" type="submit">Sign-up</button>
                </form>
            </div>
            
        </div>
    </div>
</section>
    
{% endblock %}
