{% extends "base.html" %}

{% block title %}Movie Intergration Interface{% endblock %}



{% block context %}
	<div class="jumbotron">
		<h1>ICSDT team</h1>
		<p>This is a demo...</p>
	</div>
{% endblock %}
