{% extends "base.html" %}

{% block title %}Movie Intergration Interface{% endblock %}

{% block context %}
<div class="jumbotron">
	<form method="post" action="/login">

	  <div class="form-group row">
		<label for="user_id" class="col-2 offset-1 col-form-label">E-mail: </label>
		<div class="col-3">
		  <input type="text" class="form-control" id="user_id" name="user_id" placeholder="email">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="password" class="col-2 offset-1 col-form-label">password: </label>
		<div class="col-3">
		  <input type="password" class="form-control" id="password" name="password" placeholder="password">
		</div>
	  </div>
	  <div class="form-group row">
		<div class="col-2 offset-3">
		  <button type="submit" class="btn btn-dirty-purple">Log in </button>
		</div>
	  </div>
	</form>
</div>
{% endblock %}
