{% extends "base.html" %}

{% block title %}Movie Intergration Interface{% endblock %}

{% block context %}
<div class="jumbotron">
	<form method="post" action="/signup">

	  <div class="form-group row">
		<label for="account" class="col-2 offset-1 col-form-label">Account: </label>
		<div class="col-3">
		  <input type="text" class="form-control" id="account" name="account" placeholder="account">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="password" class="col-2 offset-1 col-form-label">password: </label>
		<div class="col-3">
		  <input type="password" class="form-control" id="password" name="password" placeholder="password">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="firstName" class="col-2 offset-1 col-form-label">First Name: </label>
		<div class="col-3">
		  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="first name">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="lastName" class="col-2 offset-1 col-form-label">Last Name: </label>
		<div class="col-3">
		  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="last name">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="email" class="col-2 offset-1 col-form-label">E-mail: </label>
		<div class="col-3">
		  <input type="text" class="form-control" id="email" name="email" placeholder="email">
		</div>
	  </div>
	  <div class="form-group row">
		<div class="col-2 offset-3">
		  <button type="submit" class="btn btn-dirty-purple">signup </button>
		</div>
	  </div>
	</form>
</div>
{% endblock %}
